body h1{
    font-size: 45px;
    text-align: center;
    color: red;
    font-weight: bold;
}
p{
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: sans-serif
}