body{
    background-image:url(bg14.jpg);
      margin: 0;
      font-family: sans-serif;
  }
  .section{
      background-color: rgb(15, 13, 13);
      display: flex;
      justify-content: space-between;
      padding: 40px;
      width: 60%;
      margin: 10rem auto 0 auto;
  
  }
  .section img{
  height: 250px;
  
  }
  .section h1{
      background-color: white;
      margin: 0;
      color: red;
  }
  .section p{
      color: rgb(181, 179, 179);
      margin-right: 15px;
      font-size: 20px;
      font-weight: bold;
  }
  